*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #283a3a;
    color:aliceblue;
    display:flex;
    justify-content:space-evenly;
}
.nav-logo{
    height:50px;
    width:100px;
    display:flex;
    margin-right: 20px;;
}
.logo{
    background-image: url(e-com_logo.jpg);
    background-size: cover;
    height:50px;
    width:100%;

}
.border{
   
    border:2px solid transparent;
}
.border:hover{
    border:3px solid orange;
}
/* box2 */
.add-first{
    margin:3px;
    color:#cccccc;
    font-size:0.8rem;
}
.add-sec{
    margin:3px;
    color:white;
    font-size:1.2rem;
}
.add-icon {
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    margin:3px;
    display: flex;
    background-color: burlywood;
    width:620px;
    height:40px;
    border-radius:4px;
}
.nav-search:hover{
    border:2px solid orange;
}
.search-select{
    margin-left:3px;
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    border:none;
    justify-content: space-evenly;
}
.search-input{
    width:100%;
    font-size:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;

}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;;
}
/* box4 */
span{
    font-size: 0.7rem;
    
}
.nav-signin{
    margin-top:6px;
}
.nav-signin a{
text-decoration: none;
color:inherit;
}

.nav-return{
    margin-top:6px;
}
.nav-return a{
    text-decoration:none;
    color:inherit;
}
.nav-second{
    font-size:0.85rem;
    font-weight:700;
}
/* box5 */
.nav-cart i {
    margin-top:6px;
    font-size:30px;
}
.nav-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem;
}
.nav-cart a{
    text-decoration: none;
    color:inherit;
}

/* PANEL */
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:azure

}
.panel-ops{
    font-size: 0.8rem;
}
.panel-ops p{
     display: inline;
     width:70%;
     margin-left:15px;
}
.panel-deals a{
    font-size:0.85rem;
    margin-left:80px;
    color:inherit;
    text-decoration: none;
}
/* hero-section */
.hero-section{
    background-image: url(PETS_BGI2.webp);
    background-size:contain;
    height:200px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    border:2px solid grey;
    margin-top:90%;
    border-radius: 25px;
    background-color: white;
    color:black;
    height:40px;
    width:80%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;;
}
.hero-msg a{
    color:#18967b;
}
/* shop -section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border:2px solid black; */
    
    height:400px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:15px;
}
.box-img{
    border: 2px solid #ccc; /* Example border style */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height:300px;
    background-size:cover;
    margin : 1rem 0rem 1rem 0rem;
}

/* footer */
footer{
    margin-top:15px;
}
.foot-panel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 a{
    text-decoration: none;
    color:inherit;
}
ul{
    margin-top:20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top:20px;
    color:#dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
}
.foot-panel3{
    text-decoration: none;
    color:inherit;
}
.logo{
    background-image: url(e-com_logo.jpg);
    margin-left:50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height:100px;
    
    
}
.foot-panel4 a{
    text-decoration: none;
    color:inherit;
}
.pages{
    font-size:0.7rem;
    display: flex;
    padding-top:5px;
    justify-content: center;
    align-items: center;
    color:white
}
.copyright{
    font-size: 0.7rem;
    margin-top:1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-ops a{
    text-decoration: none;
    color:inherit;
}