body{
    border:1px solid black;
    height:100%;
    
}
.hdng1{
    background-color: rgb(186, 125, 12);
    
    width:100%;
    margin-bottom:0%;
}
.hdng1 ul{
    background-color: rgb(31, 182, 31);
    margin-top:0%;
    display:flex;
    list-style: none;
}

.sbhdng {
    /* display:inline-block; */
    width:80%;
}
.li{
    /* display:inline-block; */
    width:20%;
    list-style: none;
}
.con{
    display:flex;
}